管理者用、商品新規登録画面。

<div class='container'>
  <div class='row'>
    
    <div class="bg-light">
      商品新規登録
    </div>
  
    <%= form_with model: Item.new do |f| %>
      <div class='center-block'>
        <%= form.label :商品画像 %>
        <%= form.file_field :image %>
      </div>
      <div>
        <%= form.label :商品名 %>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.label :商品説明 %>
        <%= form.text_area :introduction %>
      </div>
      <div>
        <%= form.label :ジャンル %>
        <%= f.collection_select :name, Genre.all,
          :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>

        <%#= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, 
          :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
      </div>
    <% end %>


  </div>
</div>
