<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class='col-md-8 offset-md-1'>
        <h4>ジャンル一覧・追加</h4>
      </div>
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div>
          <%= f.label :ジャンル名 %>
          <%= f.text_field :name %>
          <%= f.submit "新規登録", class: "btn btn-primary genre_btn" %>
       </div>
      <% end %>

      <table class='table genre-table'>
        <thead>
          <tr>
            <th class='col-md-8 offset-md-1'>
              ジャンル
            </th>
          </tr>
        </thead>
        <%= render 'genre_index', genres: @genres %>
      </table>
    </div>
  </div>
</div>