<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container border-bottom">
        <div class="row">
          <div class="mx-5">
            <%= link_to root_path do %>
              <%= image_tag("icon.jpg", size: "100x100") %>
            <% end %>
          </div>

          <% if customer_signed_in? %>
            <div class="col mt-4 pt-3 text-center">
              <p>ようこそ、<%#= @customer.last_name %>さん！</p>
            </div>
          <% else %>
          <% end %>

          <div class="ml-auto my-4 d-flex justify-content-end">
            <ul class="d-flex list-unstyled mb-0">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_header' %>
              <% elsif customer_signed_in? %>
                <%= render 'layouts/publicheader' %>
              <% else %>
                <%= render 'layouts/publicheader_guest' %>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </header>
    <%= yield %>

  </body>
</html>
